ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #105572;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #105572;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.year{
    background-color: #e4edf9; 
    width: 105px; 
    padding-left: 10px;
    margin-right: 10px;
    height: 40px;
}
button{
    height: 40px;
}

 