<header>
    <nav class=" navbar fixed-top navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon my-toggler"></span>
        </button>
        <div class="container ">
            <div style="width: 100%;" class=" navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav float-right">
                    <li class="nav-item p-1 active rounded">
                        <a class="nav-link smooth-scroll text-uppercase" href="#"><i class='bx bx-user'></i> A Propos
                        </a>
                    </li>
                    <li class="nav-item p-1 rounded">
                        <a class="nav-link smooth-scroll text-uppercase" href="#competences"><i
                                class='bx bx-briefcase-alt'></i>Compétences</a>
                    </li>
                    <li class="nav-item p-1 rounded">

                        <a class="nav-link smooth-scroll text-uppercase" href="#cv"> <i
                                class='bx bx-file-blank'></i>CV</a>
                    </li>
                    <li class="nav-item p-1 rounded">
                        <a class="nav-link smooth-scroll text-uppercase" href="#projects"> <i
                                class='bx bx-book-content'></i>Projets</a>
                    </li>

                    <li class="nav-item p-1 rounded">
                        <a class="nav-link smooth-scroll text-uppercase" href="#references"><i
                                class='bx bxs-badge-check'></i> Recommandations</a>
                    </li>

                    <li class="nav-item p-1 rounded">
                        <a class="nav-link smooth-scroll text-uppercase" href="#contact"> <i
                                class='bx bx-envelope'></i>Me Contacter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>