<section id="about">
    <div class="container">
        <h2><strong>A Propos</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" >

                <picture>
                    <img src="assets/images/profile.jpg" alt="photo de profil" class="img-fluid">
                </picture>
               <div class="d-flex justify-content-center">
                    <a  class="btn-social-media" href="https://www.linkedin.com/in/zinedine-benkhider/" rel="tooltip" target="_blank"  title="Suivez moi sur Linkedin">
                        <i  class="fa fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://github.com/zinedineBenkhider" rel="tooltip" target="_blank" title="Suivez moi sur GitHub" >
                        <i  class="fa fa-github fa-lg "></i></a>
                </div>
               
              
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Développeur d'applications Web &amp; Mobile.</h3>
                <p class="font-italic">
                    Intéressé par les nouvelles téchonologies et méthodes de travail. J'aime proposer des idées qui permettent
                    d'améliorer les processus métiers.
                    <br>Passionné par le développement <b>Back-End</b> et <b>Front-End</b>.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> Mobile sur tout la France</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Lens, France</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:zinedine.benkhider@gmail.com">
                                        zinedine.benkhider@gmail.com</a></strong>
                            </li>
                       
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 25 ans</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> Diplôme Master 2 E-Services</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="home"></fa-icon><strong> Recherche CDI </strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    Je recherche une entreprise innovante et centrée utilisateur pour répondre au mieux aux besoins
                    client, de son idée à la livraison final de son projet, ou participer à l'amélioration d'un projet éxistant.
                </p>
            </div>
        </div>
    </div>
</section>