<section id="about">
    <div class="container">
        <h2><strong>A Propos</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">

                <picture>
                    <img src="assets/images/profile.jpg" alt="photo de profil" class="img-fluid">
                </picture>
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Développeur d'applications Web &amp; Mobile.</h3>
                <p class="font-italic">
                    Intéressé par les nouvelles méthodes de travail. J'aime proposer des idées qui permettent
                    d'améliorer les processus métiers.
                    <br>Passionné par le développement <b>Back-End</b> et <b>Front-End</b>.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> Mobile sur tout la France</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Lens, France</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:zinedine.benkhider@gmail.com">
                                        zinedine.benkhider@gmail.com</a></strong>
                            </li>
                            <li>
                                <fa-icon [icon]="mobile"></fa-icon><strong> (+33) 06 59 03 93 20</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 24 ans</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> Diplôme Master 2 E-Services</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="home"></fa-icon><strong> Freelance Disponible</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    Je recherche une entreprise innovante et centrée utilisateur pour répondre au mieux aux besoins
                    client, amélioration ou de son idée à la livraison final de son projet.
                </p>
            </div>
        </div>
    </div>
</section>