
.bar-title{
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background: #149ddd;

}
section{
    padding-top: 100px;
  }
h2{
    color: rgb(22, 59, 90);
}
html{scroll-behavior: smooth;}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-radio-input{
    margin-left: 3.5px!important;
}

.mat-radio-label{
    margin-bottom: 0px!important;
}